$viewport-3: (min-width: 320px);		/* smartphones, portrait iPhone, portrait 480 x 320 phones (Android) */
$viewport-4: (min-width: 480px);		/* smartphones, Android phones, landscape iPhone */
$viewport-6: (min-width: 600px);		/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800 x 480 phones (Android) */
$viewport-8: (min-width: 801px);		/* tablet, landscape iPad, lo-res laptops ands desktops */
$viewport-10: (min-width: 1025px);	/* big landscape tablets, laptops, and desktops */
$viewport-12: (min-width: 1281px);	/* hi-res laptops and desktops */
$viewport-19: (min-width: 1920px);	/* bigger screens */
